
.App{
  height: 300px;
  width: 250px;  border-radius: 20px;
  box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.75);
  font-family: sans-serif;
  text-align: center;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
button.randomize {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button.randomize:hover {
  background-color: #2574a5;
}
.lock-button {
  margin-top: 20px;
  margin-bottom: 1px;
  font-size: 40px;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 10px;
  outline: 1px solid black;
  
}

.lock-button:hover {
  transform: scale(1.2);
}








